<%- include('./partials/header') %>

<div class="container">
  <div class="form text-center">
    <h1>Hello Everyone Let's</h1>
    
    <a href="/logout">logout</a>
    <a href="/login">Login</a>
    <a href="/signup">SignUp</a>
  </div>
</div>

<%- include('./partials/footer') %>
